.dev-speaking {
  width: 200px;
  height: 100px;
  line-height: 100px;
  font-size: 2rem;
  margin: 0 auto;
  background-color: #85d7bf;
  color: #FFF;
  border-radius: 5px;
}

.pending-list {
  border: 2px solid #99ccff;
  border-radius: 5px;
  background-color: #99ccff;
  color: #FFF;
}


.retired-list {
  background-color: #ff9999;
  color: #FFF;
  border-radius: 5px;
}

.dev-list {
  margin: 0 auto;
  cursor: pointer;
}

.retired-list .dev,
.pending-list .dev {
  width: 100px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  line-height: 50px;
}

.pending-list .dev {
  background-color: #0099ff;
}

.retired-list .dev {
  background-color: #ff5050;
}